.about {
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.857;
    letter-spacing: 0.02em;
    color: $text-color-light-theme;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .about {
    &__list {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .about {
    &__list-item {
      width: 330px;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    &__right-side {
      padding-left: 30px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .about {
    &__list {
      display: flex;
    }

    &__list-item {
      width: 270px;

      &:not(:last-child) {
        margin-bottom: 0;
        margin-right: 30px;
      }
    }

    &__right-side {
      padding-left: 64px;
    }

    &__text {
      padding-right: 60px;
    }
  }
}
