.masters {
    background-color: #f7f7f7;

    &__list {
      display: flex;
      justify-content: space-between;
    }

    &__list-content-wrapper {
      padding-top: 30px;
      padding-left: 82px;
      padding-right: 82px;
    }

    &__list-item-title {
      font-weight: 400;
      font-size: 18px;
      line-height: 1.389;
      text-align: center;
      letter-spacing: 0.02em;
      color: #303030;
      margin-bottom: 8px;
    }

    &__list-item-position {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.357;
      text-align: center;
      letter-spacing: 0.02em;
      color: $accent-color;
      margin-bottom: 30px;
    }
  }