.description {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.667;
    letter-spacing: 0.02em;

    &_light-theme {
      color: var(--text-color-light-theme);
    }

    &_dark-theme {
      color: var(--text-color-dark-theme);
    }

    .hero & {
      max-width: 400px;
    }

    .about & {
      margin-bottom: 20px;
    }

    .advantages & {
      padding-right: 80px;
    }
  }