.title {
  font-family: $secondary-font;
  @include font(700, 28px, 33px);
  letter-spacing: 0.05em;

  &_light-theme {
    color: $title-color-light-theme;
  }

  &_dark-theme {
    color: $title-color-dark-theme;
  }

  .about &,
  .advantages & {
    margin-bottom: 20px;
  }

  .services &,
  .masters & {
    margin-bottom: 44px;
  }

  .contact-wrapper & {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    @include font(700, 42px, 49px);
  }
}
