   $main-font: "Open Sans", sans-serif;
    $secondary-font: "Raleway", sans-serif;
    $title-color-light-theme: #303030;
    $title-color-dark-theme: #fff;
    $subtitle-color-light-theme: #303030;
    $subtitle-color-dark-theme: #9da4bd;
    $text-color-light-theme: #555555;
    $text-color-dark-theme: #9da4bd;
    $accent-color: #ff6c00;
  